@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* own color style */
    --brand: 18, 92%, 56%;
    --brand-foreground: 126, 41%, 37%;

    --primaryalternative: 120, 89%, 36%;
    --primaryalternative-foreground: 126, 41%, 37%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
@layer utilities {
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .large_container {
    padding: 6.9rem 6rem;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 91.666667%;
  }

  @media (min-width: 1024px) .container {
    max-width: 80rem;
  }
  @media (min-width: 1536px) .container {
    max-width: 1536px;
  }
  @media (min-width: 1280px) .container {
    max-width: 1280px;
  }
  @media (min-width: 1024px) .container {
    max-width: 1024px;
  }
  @media (min-width: 768px) .container {
    max-width: 768px;
  }
  @media (min-width: 640px) .container {
    max-width: 640px;
  }
}
@font-face {
  font-family: "HindSiliguriBold";
  src: url("/fonts/HINDSILIGURI-BOLD.TTF");
}
@font-face {
  font-family: "HindSiliguriLight";
  src: url("/fonts/HINDSILIGURI-LIGHT.TTF");
}
@font-face {
  font-family: "HindSiliguriMedium";
  src: url("/fonts/HINDSILIGURI-MEDIUM.TTF");
}
@font-face {
  font-family: "HindSiliguriRegular";
  src: url("/fonts/HINDSILIGURI-REGULAR.TTF");
}
@font-face {
  font-family: "HindSiliguriSemiBold";
  src: url("/fonts/HINDSILIGURI-SEMIBOLD.TTF");
}
